<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <br>
    <app-recipes-item *ngFor="let recipeElement of recipes"
                      [recipe]="recipeElement"
                      #component
                      (selectedRecipe)="onSelectedRecipe($event)">
      <!-- recipe PROPERTY is taken the value of recipeElement from PARENT (Stream is PARENT -> CHILD)-->

      <p #p>Test for ng-content</p>
    </app-recipes-item>
  </div>
</div>