<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form"
          (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">
          <h4>Name</h4>
        </label>
        <input formControlName="name"
               type="text"
               class="form-control">
      </div>
      <div class="form-group">
        <label for="description">
          <h4>Description</h4>
        </label>
        <textarea formControlName="description"
                  class="form-control"
                  name="description"
                  rows="5">
              </textarea>
      </div>
      <div class="form-group">
        <label for="imagePath">
          <h4>Imagepath</h4>
        </label>
        <input formControlName="imagePath"
               type="text"
               class="form-control"
               #imagePath>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value"
               alt="imagePath"
               class="img-responsive">
        </div>
      </div>
      <div formArrayName="ingredients"
           class="form-group"
           style="padding-top: 20px;">
        <div class="row"
             style="margin-bottom: 10px;">
          <div class="col-sm-2">
            <h4>Ingredients</h4>
          </div>
          <div class="col-sm-10">
            <button (click)="addIngredient()"
                    class="btn btn-default"
                    type="button">
              Add Ingredient
            </button>
          </div>
        </div>


        <div *ngFor="let ingredient of ingredients.controls; let i = index">
          <div [formGroupName]="i"
               style="margin-bottom: 10px;">
            <div class="row">
              <div class="col-xs-5">
                <label for="name">Name</label>
                <input formControlName="name"
                       type="text"
                       class="form-control">
              </div>
              <div class="col-xs-5">
                <label for="name">Amount</label>
                <input formControlName="amount"
                       type="number"
                       class="form-control">
              </div>
              <label for="name"></label>
              <button (click)="deleteIngredient(i)"
                      class="btn btn-danger"
                      type="button"
                      style="margin-top: 25px">
                X
              </button>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="!form.valid"
              class="btn btn-primary"
              type="submit">Submit</button>
    </form>
    <div class="bg-success"
         style="border-radius: 15px; margin-top: 15px; padding:  10px 10px 2px 15px;">
      <p>Form Status: {{ form.status }}</p>
      <p>Form Values: {{ form.value | json}}</p>
      <p>Errors:</p>
      <ul>
        <li>
          <p>Name Errors: {{ name.errors | json}}</p>
        </li>
        <li>
          <p>Description Errors: {{ description.errors | json}}</p>
        </li>
        <li *ngIf="ingredients.controls.length > 0">
          <p>Ingredients Errors: </p>
          <ul *ngFor="let ingredient of ingredients.controls; let i = index">
            <li>Ingredient[{{i}}].name errors: {{ingredient.controls.name.errors | json}}</li>
            <li>Ingredient[{{i}}].amount errors: {{ingredient.controls.amount.errors | json}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
