<a class="list-group-item clearfix"
   [routerLink]="[index]"
   routerLinkActive="router-active-link"
   [routerLinkActiveOptions]="{exact: false}"
   (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name | shorten: 20 }}</h4>
    <span class="list-group-item-text">{{ recipe.description | shorten: 30 }}</span>
  </div>
  <div class="pull-right ">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
         class="img-responsive"
         style="max-height: 50px;">
  </div>
</a>
