<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4 ">
      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email"
               type="email"
               name="email"
               class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password"
               type="password"
               name="password"
               class="form-control">
      </div>
      <p><a (click)="navigateTo()">Please signup,If you haven't registered yet!</a></p>
      <!-- <p><a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Please signup,If you haven't registered yet!</a></p> -->
      <button class="btn btn-default">Login</button>
    </div>
  </div>
</form>
