@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 20px;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
  display: inline-block;
  padding: 1px 6px;
  text-decoration: none;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button.btn.header {
  color: white;
  background: #00695c;
}

button.btn.header:hover,
button.btn.header:active {
  color: #ffeb3b;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.centered {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.total-price {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: none;
}

tr.total-price:hover {
  background-color: white;
}

.total-price .right {
  text-align: right;
}

.total-price .left {
  text-align: left;
}

form {
  display: inline;
}

.user-message {
  margin: auto;
  width: 100%;
  color:  red;
  padding-bottom: 10px;
}
