<div class="container"
     style="padding-top:15px;">
  <!-- Part 061 - ngif -->
  <!-- <app-ngif [courses]="db.courses"></app-ngif> -->

  <!-- Part 062 - hidden-property -->
  <!-- <app-s062hidden-property [courses]="db.courses"></app-s062hidden-property> -->

  <!-- Part 063 - ng-switch-case -->
  <!-- <app-changes></app-changes> -->

  <!-- Part 064 - ng-for -->
  <!-- <app-directive-ng-for></app-directive-ng-for> -->

  <!-- Part 065 - ng-for and Changes Detection-->
  <!-- <app-directive-ng-for-changes-detection> </app-directive-ng-for-changes-detection> -->

  <!-- Part 065 - ng-for and Changes Detection-->
  <!-- for dealing with large lists of data, which coueses bad performance -->
  <!-- <app-directive-ng-for-trackby></app-directive-ng-for-trackby> -->

  <!-- Part 068 - ng-Class -->
  <!-- <app-directive-ng-class></app-directive-ng-class> -->

  <!-- Part 069 - ng-Style -->
  <!-- <app-directive-ng-style></app-directive-ng-style> -->

  <!-- Part 070 - Safe Traversal Operator -->
  <!-- <app-directive-save-traversal-operator></app-directive-save-traversal-operator> -->

  <!-- Part 071- Custom Directive -->
  <app-directive-custom></app-directive-custom>

</div>
