$yellow: #990 !default;
$blue: #33a !default;
$green: #3c3 !default;
$purple: #939 !default;
$pink: #c69 !default;
$orange: #f93 !default;
$brown: #952 !default;

$black: #000 !default;
$white: #fff !default;

$btn-disabled-opacity: 0.5 !default;

