@import '_variables';
@mixin range-thumb() {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -14px;
        @content;
    }
    &::-moz-range-thumb {
        @content;
    }
    &::-ms-thumb {
        margin-top: 0px;
        @content;
    }
    &:focus::-ms-fill-lower {
        background: $darkblue;
    }
    &:focus::-ms-fill-upper {
        background: $lightblue;
    }
}

@mixin range-track() {
    &::-webkit-slider-runnable-track {
        @content;
    }
    &:focus::-webkit-slider-runnable-track {
        background: $lightblue;
    }
    &::-moz-range-track {
        @content;
    }
    &::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }
    &::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid $black;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    &::-ms-fill-upper {
        background: $darkblue;
        border: 0.2px solid $black;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
}
