<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<br>
<div class="row recipe-list-wrapper">
  <div class="col-xs-12"
       *ngFor="let recipe of recipes">
    <a href="#"
       class="">
      <div class="col-xs-12 recipe-wrapper">
        <div class="recipe-left">
          <h3 class="">{{recipe.name}}</h3>
          <p class="">{{recipe.description}}</p>
        </div>
        <div class="recipe-right">
          <!-- [src]="recipe.imagePath" -->
          <img src={{recipe.imagePath}}
               alt={{recipe.name}}
               class="recipe-image">
        </div>
      </div>
    </a>
    <!-- <app-recipe-item></app-recipe-item> -->
  </div>
</div>
