/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --cube-color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.header {
  height: 13.5625rem;
  color: white;
  background: #507ec4;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
}

.header h1 {
  font-size: 5.325rem;
  margin-bottom: 0.5rem;
}

.header h2 {
  font-size: 2.675rem;
}

.header h2:nth-child(3) {
  margin-bottom: 0.7rem;
}

.nav {
  height: 2.25rem;
  width: 48.7rem;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.nav-left, .nav-right {
  display: inline-block;
}

.nav-left a, .nav-right a {
  text-decoration: none;
  display: inline-block;
  padding: 0 1.0rem;
  line-height: 2.25rem;
}

.nav-left h3, .nav-right h3 {
  font-size: 1.275rem;
  font-weight: 700;
}

.nav-left__new--colors, .nav-right__new--colors {
  color: #507ec4;
}

.nav-right__easy, .nav-right__hard {
  color: #507ec4;
}

.nav-right__easy.highlighted, .nav-right__hard.highlighted {
  background: #507ec4;
  color: white;
  margin-right: 1rem;
}

.main {
  height: calc(100% - 13.5625rem - 2.25rem);
  background: #272726;
}

.main .container {
  width: 48.7rem;
  margin: 0 auto;
  padding-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 246px);
  grid-template-rows: repeat(3, 220px);
  grid-column-gap: 23px;
  grid-row-gap: 22px;
}

.main .container [class*='cube'] {
  border: none;
  outline: none;
  border-radius: 40px;
  background: #272726;
  font-size: 1.5rem;
}

.main .container [class*='cube'] .text-animation {
  animation: scaling 400ms 0.1ms infinite ease-in-out none;
}

.main .container [class*='cube']:active,
.main .container [class*='cube']:hover {
  animation: wiggle 400ms 0.1ms 4 ease-in-out none;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
/*# sourceMappingURL=style.css.map */